@keyframes slideFromLeft {
    0% { opacity: 0; transform: translateX(-100px); }
    100% { opacity: 1; transform: translateX(0); }
}

@keyframes slideFromRight {
    0% { opacity: 0; transform: translateX(100px); }
    100% { opacity: 1; transform: translateX(0); }
}

.slide-from-left {
    opacity: 0;
    transform: translateX(-100px);
}

.slide-from-right {
    opacity: 0;
    transform: translateX(100px);
}

.animate.slide-from-left {
    animation: slideFromLeft 1750ms forwards;
}

.animate.slide-from-right {
    animation: slideFromRight 1750ms forwards;
}